/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Generales */
body {
    background-color: #E2DAD6;
}

main {
    margin-bottom: 60px;
}

/* Header */
header {
    background-color: #E2DAD6; /* Color de fondo del header */
    padding: 20px 0;
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Navbar */
.navbar {
    background-color: #0B0F3C; /* Fondo azul oscuro */
    border-radius: 40px; /* Bordes redondeados */
    padding: 20px 20px;
    margin: 20px 20px 0;
    position: relative;
    z-index: 1000; /* Para asegurarse que esté por encima del contenido */
    transition: all 0.3s ease-in-out; /* Suaviza el efecto */
}

.navbar-brand img {
    width: 60px; /* Tamaño del logo */
    transition: width 0.3s ease; /* Transición suave */
}

.navbar-nav .nav-link {
    color: #E2DAD6; /* Texto beige */
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-radius: 40px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
    background-color: #E2DAD6; /* Fondo beige en estado activo/hover */
    color: #0B0F3C; /* Texto azul oscuro */
    border-radius: 40px;
}

/* Toggle de la Navbar (Responsive) */
.navbar-toggler {
    border: none;
    position: relative;
    transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Transición suave */
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none; /* Sin sombra al hacer foco */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(226, 218, 214, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Líneas del ícono */
    transition: background-image 0.3s ease;
}

.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(226, 218, 214, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Cambio a beige en hover */
}

.navbar-toggler:hover {
    box-shadow: 0 0 0 1px #E2DAD6; /* Sombra beige al hacer hover */
}

/* Dropdown (menú desplegable) */
.dropdown-menu {
    background-color: #0B0F3C; /* Fondo azul oscuro */
    border-radius: 40px; /* Bordes redondeados */
    border: none;
    padding: 10px; /* Espacio interno */
}

.dropdown-menu .dropdown-item {
    background-color: transparent; /* Fondo transparente */
    color: #E2DAD6; /* Texto beige */
    padding: 10px 20px;
    border-radius: 40px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
    margin: 10px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #E2DAD6; /* Fondo beige en hover */
    color: #0B0F3C; /* Texto azul oscuro en hover */
}

.dropdown-menu .dropdown-item:active {
    background-color: #14279B; /* Fondo azul intermedio al hacer clic */
    color: #E2DAD6; /* Texto beige */
}

.nav-link.dropdown-toggle {
    background-color: transparent; /* Fondo transparente */
    color: #E2DAD6; /* Texto beige */
    border-radius: 40px;
}

.nav-link.dropdown-toggle:hover {
    background-color: #E2DAD6; /* Fondo beige en hover */
    color: #0B0F3C; /* Texto azul oscuro */
}

/* Dropdown (menú desplegable) */
.dropdown-menu {
    background-color: #0B0F3C; /* Fondo azul oscuro */
    border-radius: 20px; /* Bordes redondeados */
    border: none;
    padding: 10px; /* Espacio interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    transition: all 0.3s ease; /* Transición suave */
}

.dropdown-menu .dropdown-item {
    background-color: transparent; /* Fondo transparente */
    color: #E2DAD6; /* Texto beige */
    padding: 12px 20px; /* Aumenta el padding para más espacio */
    border-radius: 20px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
    margin: 10px 0; /* Reduce el margen entre items */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #E2DAD6; /* Fondo beige en hover */
    color: #0B0F3C; /* Texto azul oscuro en hover */
}

.dropdown-menu .dropdown-item:active {
    background-color: #14279B; /* Fondo azul intermedio al hacer clic */
    color: #E2DAD6; /* Texto beige */
}

.nav-link.dropdown-toggle {
    background-color: transparent; /* Fondo transparente */
    color: #E2DAD6; /* Texto beige */
    border-radius: 20px; /* Bordes redondeados */
}

.nav-link.dropdown-toggle:hover {
    background-color: #E2DAD6; /* Fondo beige en hover */
    color: #0B0F3C; /* Texto azul oscuro */
}

/* Carousel */
.carousel {
    width: 60%;
    margin: 20px auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); /* Invertir colores del control */
}

/* Aside */
aside {
    background-color: #E2DAD6;
    font-family: "Quicksand", system-ui;
    padding: 20px;
}

.aside h3 {
    color: #14279B;
    font-size: 28px;
}

.aside h4 {
    font-size: 18px;
    line-height: 1.6;
}

.aside-content {
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 8px;
    font-family: "Quicksand", sans-serif;
    line-height: 1.8;
    margin: 20px 0;
}

.aside-content h3 {
    color: #14279B;
    font-size: 28px;
    margin-bottom: 15px;
}

.aside-content h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.aside-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.aside-content strong {
    color: #3D56B2;
}

.aside-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.aside-content ul li {
    margin-bottom: 10px;
    color: #555;
}

footer{
    background-color: #0B0F3C;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.contenedorf {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.3fr 0.4fr 0.4fr 0.4fr 1fr; 
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "fop1 fop1 fop1 fop1"
      "fop2 fop3 fop4 fop5"
      "fop6 fop6 fop7 fop7"
      "fop8 fop8 fop8 fop8"
      "fop9 fop9 fop9 fop9";
  }
  
  .fop1 { grid-area: fop1; }
  
  .fop2 { grid-area: fop2; }
  
  .fop3 { grid-area: fop3; }
  
  .fop4 { grid-area: fop4; }
  
  .fop5 { grid-area: fop5; }
  
  .fop6 { grid-area: fop6; }
  
  .fop7 { grid-area: fop7; }
  
  .fop8 { grid-area: fop8; }
  
  .fop9 { grid-area: fop9; }
  
  .fop1 {
    display: flex; /* Habilitar flexbox */
    flex-direction: column; /* Disponer los elementos en una columna (uno debajo del otro) */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    font-size: 1.5rem;
    text-align: center;
    padding: 250px;
    height: 200px;
    gap: 20px; /* Añadir espacio entre los elementos */
    color: #E2DAD6;

}

/* Ajustes de los contenedores */
.fop2, .fop3, .fop4, .fop5 {
    background-color: #E2DAD6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.1rem;
    text-align: left;
    gap: 15px; /* Aumentar espacio entre los elementos dentro de los contenedores */
    padding: 30px; /* Aumentar padding dentro de los contenedores */
    height: 400px; /* Permitir que la altura sea dinámica en lugar de fija */
    list-style-type: none;
    border-radius: 20px; /* Suavizar los bordes */
}

/* Estilos individuales para los bordes */
.fop2 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 50px;
}

.fop5 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 50px;
}

/* Quitar los puntos y agregar espacio entre ítems de la lista */
.fop2 ul, .fop3 ul, .fop4 ul, .fop5 ul {
    list-style-type: none;
    padding-left: 0;
}

.fop2 li, .fop3 li, .fop4 li, .fop5 li {
    text-align: left;
}

/* Ajustes adicionales para mejorar la separación */
.contenedorf {
    gap: 20px; /* Espacio entre los contenedores de la cuadrícula */
    padding: 20px; /* Aumentar el padding general */
}

/* Estilos comunes para fop6 y fop7 */
.fop6, .fop7 {
    background-color: #3D56B2;
    color: #E2DAD6;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    text-align: center;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 300px;
}

/* Ajustes específicos para fop6 y fop7 */
.fop6 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 50px;
}

.fop7 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 20px;
    gap: 20px;
    flex-wrap: wrap;
    margin-right: 50px;
}

/* Estilos para los iconos de redes sociales */
.redes-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.redes-iconos a {
    transition: transform 0.3s ease;
}

.redes-iconos a:hover {
    transform: scale(1.1);
}

.redes-iconos img {
    width: 50px;
    height: auto;
    border-radius: 10px; /* Si necesitas bordes redondeados */
}


.redes-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre cada ícono */
    flex-wrap: wrap; /* Permitir que los íconos se ajusten si son demasiados para una sola línea */
}

.redes-iconos a {
    transition: transform 0.3s ease-in-out;
}

.redes-iconos a:hover {
    transform: scale(1.1); /* Un aumento menor en el hover */
}

.redes-iconos img {
    width: 50px; /* Tamaño más pequeño para los íconos */
    height: auto;
    border-radius: 10px; /* Si quieres bordes redondeados */
}

.redes-iconos {
    display: flex; /* Usar flexbox para alinear los iconos */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.redes-iconos a {
    transition: transform 0.3s; /* Transición suave al hacer hover */
}

.redes-iconos a:hover {
    transform: scale(1.1); /* Aumentar tamaño al pasar el cursor */
}

.redes-iconos img {
    width: 50px; /* Aumentar el tamaño de los iconos */
    height: auto; /* Mantener proporciones */
}

.fop8{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #E2DAD6;
    margin-right: 50px;
    margin-left: 50px;
    display: flex; /* Habilitar flexbox */
    flex-direction: column; /* Disponer los elementos en una columna (uno debajo del otro) */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    text-align: center;
    height: 300px;
}

.fop9{
    display: flex; /* Habilitar flexbox */
    flex-direction: column; /* Disponer los elementos en una columna (uno debajo del otro) */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    font-size: 1.5rem;
    text-align: center;
    padding: 100px;
    gap: 20px; /* Añadir espacio entre los elementos */
    font-size: 1rem;
    color: white;
}
  
  /* Ajuste para pantallas pequeñas (smartphones) */
  @media (max-width: 768px) {
    .contenedorf {
      grid-template-columns: 1fr; /* Solo una columna */
      grid-template-rows: auto; /* Las filas se adaptan al contenido */
      gap: 20px; /* Espacio entre los elementos */
      grid-template-areas:
        "fop1"
        "fop2"
        "fop3"
        "fop4"
        "fop5"
        "fop6"
        "fop7"
        "fop8"
        "fop9";
    }
  
    /* Ajustes de los contenedores para pantallas pequeñas */
    .fop1, .fop2, .fop3, .fop4, .fop5, .fop6, .fop7, .fop8, .fop9 {
      margin-left: 0;  /* Eliminar márgenes laterales */
      margin-right: 0;
      padding: 20px; /* Ajustar padding para mejor visualización en móviles */
      height: auto; /* Permitir que la altura sea dinámica */
    }
  
    /* Quitar el borde redondeado en las esquinas en pantallas pequeñas */
    .fop2, .fop5, .fop6, .fop7, .fop8 {
      border-radius: 20px;
    }
  }

  @media (max-width: 480px) {
    .contenedorf {
      grid-template-columns: 1fr; /* Solo una columna */
      grid-template-rows: auto; /* Las filas se adaptan al contenido */
      gap: 20px; /* Espacio entre los elementos */
      grid-template-areas:
        "fop1"
        "fop2"
        "fop3"
        "fop4"
        "fop5"
        "fop6"
        "fop7"
        "fop8"
        "fop9";
    }
  
    /* Ajustes de los contenedores para pantallas pequeñas */
    .fop1, .fop2, .fop3, .fop4, .fop5, .fop6, .fop7, .fop8, .fop9 {
      margin-left: 0;  /* Eliminar márgenes laterales */
      margin-right: 0;
      padding: 20px; /* Ajustar padding para mejor visualización en móviles */
      height: auto; /* Permitir que la altura sea dinámica */
    }
  
    /* Quitar el borde redondeado en las esquinas en pantallas pequeñas */
    .fop2, .fop5, .fop6, .fop7, .fop8 {
      border-radius: 20px;
    }
  }

  @media (max-width: 1280px) {
    .contenedorf {
      grid-template-columns: 1fr; /* Solo una columna */
      grid-template-rows: auto; /* Las filas se adaptan al contenido */
      gap: 20px; /* Espacio entre los elementos */
      grid-template-areas:
        "fop1"
        "fop2"
        "fop3"
        "fop4"
        "fop5"
        "fop6"
        "fop7"
        "fop8"
        "fop9";
    }
  
    /* Ajustes de los contenedores para pantallas pequeñas */
    .fop1, .fop2, .fop3, .fop4, .fop5, .fop6, .fop7, .fop8, .fop9 {
      margin-left: 0;  /* Eliminar márgenes laterales */
      margin-right: 0;
      padding: 20px; /* Ajustar padding para mejor visualización en móviles */
      height: auto; /* Permitir que la altura sea dinámica */
    }
  
    /* Quitar el borde redondeado en las esquinas en pantallas pequeñas */
    .fop2, .fop5, .fop6, .fop7, .fop8 {
      border-radius: 20px;
    }
  }