/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Generales */
body {
    background-color: #E2DAD6;
}

main {
    margin-bottom: 60px;
}

/* Header */
header {
    background-color: #E2DAD6; /* Color de fondo del header */
    padding: 20px 0;
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Navbar */
.navbar {
    background-color: #0B0F3C; /* Fondo azul oscuro */
    border-radius: 40px; /* Bordes redondeados */
    padding: 20px 20px;
    margin: 20px 20px 0;
    position: relative;
    z-index: 1000; /* Para asegurarse que esté por encima del contenido */
    transition: all 0.3s ease-in-out; /* Suaviza el efecto */
}

.navbar-brand img {
    width: 60px; /* Tamaño del logo */
    transition: width 0.3s ease; /* Transición suave */
}

.navbar-nav .nav-link {
    color: #E2DAD6; /* Texto beige */
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-radius: 40px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
    background-color: #E2DAD6; /* Fondo beige en estado activo/hover */
    color: #0B0F3C; /* Texto azul oscuro */
    border-radius: 40px;
}

/* Toggle de la Navbar (Responsive) */
.navbar-toggler {
    border: none;
    position: relative;
    transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Transición suave */
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none; /* Sin sombra al hacer foco */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(226, 218, 214, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Líneas del ícono */
    transition: background-image 0.3s ease;
}

.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(226, 218, 214, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Cambio a beige en hover */
}

.navbar-toggler:hover {
    box-shadow: 0 0 0 1px #E2DAD6; /* Sombra beige al hacer hover */
}

/* Dropdown (menú desplegable) */
.dropdown-menu {
    background-color: #0B0F3C; /* Fondo azul oscuro */
    border-radius: 40px; /* Bordes redondeados */
    border: none;
    padding: 10px; /* Espacio interno */
}

.dropdown-menu .dropdown-item {
    background-color: transparent; /* Fondo transparente */
    color: #E2DAD6; /* Texto beige */
    padding: 10px 20px;
    border-radius: 40px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
    margin: 10px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #E2DAD6; /* Fondo beige en hover */
    color: #0B0F3C; /* Texto azul oscuro en hover */
}

.dropdown-menu .dropdown-item:active {
    background-color: #14279B; /* Fondo azul intermedio al hacer clic */
    color: #E2DAD6; /* Texto beige */
}

.nav-link.dropdown-toggle {
    background-color: transparent; /* Fondo transparente */
    color: #E2DAD6; /* Texto beige */
    border-radius: 40px;
}

.nav-link.dropdown-toggle:hover {
    background-color: #E2DAD6; /* Fondo beige en hover */
    color: #0B0F3C; /* Texto azul oscuro */
}

/* Dropdown (menú desplegable) */
.dropdown-menu {
    background-color: #0B0F3C; /* Fondo azul oscuro */
    border-radius: 20px; /* Bordes redondeados */
    border: none;
    padding: 10px; /* Espacio interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    transition: all 0.3s ease; /* Transición suave */
}

.dropdown-menu .dropdown-item {
    background-color: transparent; /* Fondo transparente */
    color: #E2DAD6; /* Texto beige */
    padding: 12px 20px; /* Aumenta el padding para más espacio */
    border-radius: 20px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
    margin: 5px 0; /* Reduce el margen entre items */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #E2DAD6; /* Fondo beige en hover */
    color: #0B0F3C; /* Texto azul oscuro en hover */
}

.dropdown-menu .dropdown-item:active {
    background-color: #14279B; /* Fondo azul intermedio al hacer clic */
    color: #E2DAD6; /* Texto beige */
}

.nav-link.dropdown-toggle {
    background-color: transparent; /* Fondo transparente */
    color: #E2DAD6; /* Texto beige */
    border-radius: 20px; /* Bordes redondeados */
}

.nav-link.dropdown-toggle:hover {
    background-color: #E2DAD6; /* Fondo beige en hover */
    color: #0B0F3C; /* Texto azul oscuro */
}

/* Carousel */
.carousel {
    width: 60%;
    margin: 20px auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); /* Invertir colores del control */
}

/* Aside */
aside {
    background-color: #E2DAD6;
    font-family: "Quicksand", system-ui;
    padding: 20px;
}

.aside h3 {
    color: #14279B;
    font-size: 28px;
}

.aside h4 {
    font-size: 18px;
    line-height: 1.6;
}

.aside-content {
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 8px;
    font-family: "Quicksand", sans-serif;
    line-height: 1.8;
    margin: 20px 0;
}

.aside-content h3 {
    color: #14279B;
    font-size: 28px;
    margin-bottom: 15px;
}

.aside-content h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.aside-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.aside-content strong {
    color: #3D56B2;
}

.aside-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.aside-content ul li {
    margin-bottom: 10px;
    color: #555;
}

/* Footer */
footer {
    background-color: #0B0F3C;
    color: #E2DAD6;
    padding: 20px 0;
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

footer .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
    margin-top: 30px;
}

footer .social-icons a {
    transition: transform 0.3s ease;
}

footer .social-icons a:hover {
    transform: scale(1.1); /* Efecto de agrandamiento al hacer hover */
}

footer p {
    margin: 5px 0;
}

footer .logofinal {
    margin-top: 20px;
}

/* Grid Layout */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 0.5fr;
    gap: 30px 30px;
    grid-template-areas:
        "columna1 columna2 columna3"
        "columna1 columna2 columna3"
        "abajo1 abajo1 abajo1";
}

.columna1 {
    grid-area: columna1;
}

.columna2 {
    grid-area: columna2;
}

.columna3 {
    grid-area: columna3;
}

.abajo1 {
    grid-area: abajo1;
}

/* Responsive Design */
@media (max-width: 767px) {

    .container {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 30px 30px;
        grid-auto-flow: row;
        grid-template-areas:
          "columna1 columna1 columna1"
          "columna2 columna2 columna2"
          "columna3 columna3 columna3"
          "abajo1 abajo1 abajo1";
      }
      
      .columna1 { grid-area: columna1; }
      
      .columna2 { grid-area: columna2; }
      
      .columna3 { grid-area: columna3; }
      
      .abajo1 { grid-area: abajo1; }
      
      .container {
        display: grid;
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
        grid-template-rows: auto; /* Las filas se ajustan automáticamente */
        gap: 20px; /* Espacio entre elementos */
    }
}