@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  background-color: #E2DAD6;
}

/* Header */
header {
  background-color: #E2DAD6; /* Color de fondo para el header */
  padding: 20px 0;
  transition: background-color 0.3s ease; /* Transición suave en el background */
}
header .navbar-brand img {
  width: 60px; /* Tamaño del logo en la navbar */
  transition: width 0.3s ease; /* Transición suave para el tamaño del logo */
}
header .navbar-nav .nav-link {
  color: #E2DAD6; /* Color del texto en beige */
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border-radius: 40px; /* Asegura que siempre tenga bordes redondeados */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y color del enlace */
}
header .navbar-nav .nav-link:hover, header .navbar-nav .nav-link.active, header .navbar-nav .nav-link:focus, header .navbar-nav .nav-link:active {
  background-color: #E2DAD6; /* Mantén el fondo beige */
  color: #0B0F3C; /* Cambia a beige también el texto en estado activo */
  border-radius: 40px;
}
header .navbar-toggler {
  border: none; /* Eliminar el borde predeterminado */
  position: relative;
  transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Transición suave para el borde y box-shadow */
}
header .navbar-toggler:focus {
  outline: none; /* Sin contorno */
  box-shadow: none; /* Sin sombra */
}
header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(226, 218, 214, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  transition: background-image 0.3s ease; /* Transición suave para las líneas del ícono */
}
header .navbar-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(226, 218, 214, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Color beige para hover */
}
header .navbar-toggler:hover {
  box-shadow: 0 0 0 1px #E2DAD6; /* Beige al hacer hover */
}
header .navbar {
  background-color: #0B0F3C; /* Fondo sólido */
  border-radius: 40px; /* Bordes redondeados */
  padding: 20px 20px;
  margin-top: 20px; /* Espacio desde la parte superior */
  position: relative;
  z-index: 1000; /* Asegura que esté por encima del contenido */
  transition: all 0.3s ease-in-out; /* Suaviza el efecto de hover */
  margin-left: 20px;
  margin-right: 20px;
}

main {
  margin-bottom: 60px;
}

/* Carousel */
.carousel {
  width: 60%;
  margin: 20px auto;
}
.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  filter: invert(100%);
}

/* Aside */
aside {
  background-color: #E2DAD6;
  font-family: "Quicksand", system-ui;
  padding: 20px;
}
aside h3 {
  color: #14279B;
  font-size: 28px;
}
aside h4 {
  font-size: 18px;
  line-height: 1.6;
}

/* Grid Layout */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 0.5fr;
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas: "columna1 columna2 columna3" "columna1 columna2 columna3" "abajo1 abajo1 abajo1";
}
.container .columna1 {
  grid-area: columna1;
}
.container .columna2 {
  grid-area: columna2;
}
.container .columna3 {
  grid-area: columna3;
}
.container .abajo1 {
  grid-area: abajo1;
}

footer {
  background-color: #0B0F3C;
  color: #E2DAD6;
  padding: 20px 0;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
footer .social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
  margin-top: 30px;
}
footer .social-icons a {
  transition: transform 0.3s ease;
}
footer .social-icons a:hover {
  transform: scale(1.1);
}
footer p {
  margin: 5px 0;
}
footer .logofinal {
  margin-top: 20px;
}

/* Estilos para el aside */
.aside-content {
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 8px;
  font-family: "Quicksand", sans-serif;
  line-height: 1.8;
  margin: 20px 0;
}
.aside-content h3 {
  color: #14279B;
  font-size: 28px;
  margin-bottom: 15px;
}
.aside-content h4 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}
.aside-content p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}
.aside-content strong {
  color: #3D56B2;
}
.aside-content ul {
  list-style-type: disc;
  padding-left: 20px;
}
.aside-content ul li {
  margin-bottom: 10px;
  color: #555;
}

/* Responsive Design */
@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas: "columna1 columna1 columna1" "columna2 columna2 columna2" "columna3 columna3 columna3" "abajo1 abajo1 abajo1";
  }
  .container .columna1 {
    grid-area: columna1;
  }
  .container .columna2 {
    grid-area: columna2;
  }
  .container .columna3 {
    grid-area: columna3;
  }
  .container .abajo1 {
    grid-area: abajo1;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    grid-template-rows: auto; /* Las filas se ajustan automáticamente */
    gap: 20px; /* Espacio entre elementos */
  }
}

/*# sourceMappingURL=styles.css.map */
