*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #E2DAD6;
}

/* Header */
header {
    background-color: #14279B; /* Color de fondo para el header */
    padding: 10px 0;
    font-family: "Quicksand", sans-serif;
}

.navbar-brand img {
    width: 60px; /* Tamaño del logo en la navbar */
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
}

.navbar-nav .nav-link:hover, 
.navbar-nav .nav-link.active {
    background-color: #3D56B2;
    border-radius: 5px;
    color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

main{
    margin-bottom: 60px;
}

/* Carousel */
.carousel {
    width: 60%;
    margin: 20px auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

/* Aside */
.aside {
    background-color: #E2DAD6;
    font-family: "Quicksand", system-ui;
    padding: 20px;
}

.aside h3 {
    color: #14279B;
    font-size: 28px;
}

.aside h4 {
    font-size: 18px;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #14279B;
    color: #fff;
    padding: 40px 20px;
    font-family: "Quicksand", system-ui;
}

footer h5 {
    color: #fff;
    font-size: 22px;
}

footer p {
    font-size: 16px;
    line-height: 1.6;
}

footer a {
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column; /* Alinea íconos debajo del texto */
    align-items: center; /* Centra íconos y texto */
}

footer a img {
    margin-top: 5px; /* Espacio entre texto y ícono */
}

footer a:hover {
    text-decoration: underline;
}

/* Social Media Icons */
footer .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra íconos en el footer */
    gap: 20px; /* Espaciado entre íconos */
}

footer .social-icons a {
    text-decoration: none;
    color: #fff;
}

/* Footer text center */
footer .text-center {
    margin-top: 20px;
    border-top: 1px solid #fff;
    padding-top: 10px;
}

/* Responsive Design */
@media (max-width: 720px) {
    .aside {
        text-align: center;
    }

    .navbar-nav {
        text-align: center;
    }
    
    footer .social-icons {
        justify-content: center; /* Centra íconos en pantallas pequeñas */
    }
}
