.framemai {
  display: flex; // Usamos Flexbox para centrar
  justify-content: center; // Centrar horizontalmente
  align-items: center; // Centrar verticalmente

  div {
    width: 100%; // Asegura que el contenedor div ocupe el ancho completo
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  iframe {
    width: 1000px;
    height: 1750px;
  }
}

@media (max-width: 768px) {
  .framemai iframe {
    width: 500px;
    height: 1800px;
  }
}

@media (max-width: 480px) {
  .framemai iframe {
    width: 350px; // Se adapta al ancho del contenedor
    height: 2180px;
  }
}