.framemai {
  display: flex; // Usamos Flexbox para centrar
  justify-content: center; // Centrar horizontalmente
  align-items: center; // Centrar verticalmente
  margin: 30px 0; // Unificamos los márgenes superior e inferior

  div {
    width: 100%; // Asegura que el contenedor div ocupe el ancho completo
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 1000px;
    height: 1775px;
    max-width: 100%; // Asegura que el iframe nunca exceda el ancho de su contenedor
  }
}

@media (max-width: 768px) {
  .framemai iframe {
    width: 500px;
    height: 1825px;
  }
}

@media (max-width: 480px) {
  .framemai iframe {
    width: 350px;
    height: 2205px;
  }
}