.dropdown-menu {
    background-color: $color-blue-dark;
    border-radius: 20px;
    border: none;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all $transition-time ease;
  
    .dropdown-item {
      background-color: transparent;
      color: $color-beige;
      padding: 12px 20px;
      border-radius: 20px;
      margin: 10px 0;
      transition: background-color $transition-time ease, color $transition-time ease;
  
      &:hover {
        background-color: $color-beige;
        color: $color-blue-dark;
      }
  
      &:active {
        background-color: $color-blue-medium;
        color: $color-beige;
      }
    }
  }
  
  .nav-link.dropdown-toggle {
    background-color: transparent;
    color: $color-beige;
    border-radius: 20px;
  
    &:hover {
      background-color: $color-beige;
      color: $color-blue-dark;
    }
  }