$color-beige: #E2DAD6;
$color-blue-dark: #0B0F3C;
$color-blue-medium: #14279B;
$color-blue-light: #3D56B2;
$font-family-base: "Quicksand", sans-serif;
$font-family-alt: "Raleway", sans-serif;
$padding-general: 20px;
$transition-time: 0.3s;